extends ../template/layout
block content

    .passwordBox.animated.fadeInDown(style='padding-top:40px; padding-bottom:80px;')
        .row
            .col-md-12
                .ibox-content
                    h2.font-bold Forgot password
                    h5 Under Construction - Non Functional
                    p
                        | Enter your email address and your password will be reset and emailed to you.
                .row
                    .col-lg-12
                        form.m-t(role='form', action='index.html')
                            .form-group
                                input.form-control(type='email', placeholder='Email address', required='')
                            button.btn.btn-primary.block.full-width.m-b(type='submit') Send new password
            .row
                .col-md-6
                    | Copyright Example Company
                .col-md-6.text-right
                    small &copy; 2014-2015