doctype
html

    head
        
        title #{title} - New Framework
        
        meta(charset='utf-8')
        meta(name="viewport", content='width=device-width', initial-scale=1.0)

        //link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/font-awesome.css')
        link(rel='stylesheet', href='/css/animate.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/themes/style.css')
        link(rel='stylesheet', href='/css/custom/style.css')
        
        script(src='/js/jquery-2.1.1.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/custom/main.js')

    body
        #wrapper
            nav.navbar-default.navbar-static-side(role='navigation')
                .sidebar-collapse
                    ul.nav
                        li.nav-header
                            include userinfo
                        include navigation

            #page-wrapper.gray-bg
                .row.border-bottom
                    include topnav
                .row.wrapper.border-bottom.white-bg.page-heading
                    include page-header
                .row
                    .col-lg-12
                        .wrapper.wrapper-content
                            block content
                        .footer
                            include footer