nav.navbar.navbar-static-top(role='navigation' style='margin-bottom:0px;')
    .navbar-header
        a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
            i.fa.fa-bars
        form.navbar-form-custom(role='search', name='search-contract')
            .form-group
                input#top-search.form-control(type='text', name='id', placeholder='Search for something...')
    ul.nav.navbar-top-links.navbar-right
        li
            a
                span.m-r-sm.text-muted.welcome-message Welcome to the NJS Framework
        if user
            li
                a(href='/logout')
                    i.fa.fa-sign-out
                    |  Logout