.dropdown.profile-element
    span
        //img.img-circle(alt='image', style='width:36%;', src='img/default_profile_image.png')
    a.dropdown-toggle(data-toggle='dropdown', href='#')
        span.clear
            span.block.m-t-xs
                //strong.font-bold Username:
            //span.text-muted.text-xs.block Department:
                b.caret
    ul.dropdown-menu.animated.fadeInRight.m-t-xs
        li
            a(href='logout.html')
.logo-element DD